#Header{
    margin: 100px auto 0 auto;
    width: 60%;
    text-align: center;
}
#SystemTitle{
    margin: 0;
}
#option{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
#option_title{
    text-align: center;
}
#login_button{
    height: 40px;
    margin: 30px auto;
    width: 250px;
    font-size: 120%;
}
label{
    width: 80px;
}
.InputField_div{
    display: flex;
    border: 1px solid black;
    margin-left: 5px;
    width: 200px;
}
