label{
    width: 80px;
}
.InputField_div{
    display: flex;
    border: 1px solid black;
    margin-left: 5px;
    width: 200px;
}
#buttonEye{
    margin: auto;
}
.error_div{
    margin: auto;
}