body {
}
#ItiranBox {
}
img {
    height: 60px;
    width: 60px;
}
p {
    margin: 0 auto;
}
#ItiranArea {
    margin: 3px;
}
#MessageBody {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#MessageHeader, #MessageBody, .LineUser, #PushMessage {
    border: 1px solid;
    margin: 3px;
    padding: 5px;
}
.MessageText {
    padding: 0 0.5rem;
}