label{
    width: 150px;
    font-weight: bold;
}
.InputField_div{
    display: flex;
    border: 1px solid black;
    margin-left: 5px;
    width: 300px;
}
#buttonEye_1, #buttonEye_2{
    margin: auto;
}
.error_div{
    margin: auto;
}
#buttonArea input, #buttonArea div{
    margin: 0 20px 12px 20px;
}
