.evenRow {
    background-color:#E8EFFF;
}
#btnOption input, #btnOption div{
    margin: 0 20px 12px 20px;
}

#Condition div{
    margin-bottom: 12px;
}
#txtScheduleFm, #txtScheduleTo{
    width: 25%;
    display: inline-block;
}
#txtScheduleFm {
    margin-right: 20px;
}
#txtScheduleTo {
    margin-left: 20px;
}
#txtEventName, #txtKeyword {
    width: 70%;
}
#EventStatus {
    display: inline-block;
    width: 20%;
}

#CntArea {
    margin-top: 20px;
}
