#btnOption input, #btnOption div{
    margin: 0 20px 12px 20px;
}

#Condition div{
    margin-bottom: 12px;
}
#DateFm, #DateTo {
    width: 25%;
    display: inline-block;
}
textarea {
  resize: none; /* 手動リサイズを禁止 */
  min-height: 100px; /* 高さの最小値を指定（任意） */
  width: 100%;
}
